# Database Configuration
DB_HOST=
DB_USER=
DB_NAME=
DB_PORT=

# Environment Setup
NODE_ENV=development
ALLOW_LOCAL_DB_IN_PRODUCTION=false

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=